@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Josefin+Sans:wght@200;400;600&family=Noto+Sans+Malayalam:wght@400;600&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
  text-decoration: none;
/* font-family: 'Noto Sans Malayalam', sans-serif; */
}

::selection {
  display: none
}

button{
  height: 2rem;
  width: auto;
  padding: 0 2rem;
  line-height: 100%;
  border: none;
  cursor: pointer;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: red;
  color: #fff;
  -webkit-tap-highlight-color:rgba(0,0,0,0);
}